.form-group-select label, .form-label{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #50555C;
    margin-bottom: 12px;
}