.form-group {
    position: relative !important;

    &.formGroupIcon {
        input {
            padding-right: 10px !important;
        }
        .btn {
            margin-top: 0;
            position: absolute;
            right: 0;
            top: 5px!important;
            z-index: 5;
        }

        &Left {
            input {
                padding-left: 20px;
            }

            svg {
                left: 12px;
                position: absolute;
                top: 15px;
            }
        }
    }

    // &.formError {
    //     > input {
    //         border: 1 solid color(PrimaryRed) !important;
    //     }

    //     > textarea {
    //         border: 1 solid color(PrimaryRed) !important;
    //     }
    // }

    input {
        position: relative !important;
        border-radius: 12px;
        outline: none !important;
    }
}