.filter{
    background: rgba(196, 196, 196, 0.05);
    border: 1px solid rgba(196, 196, 196, 0.3);
    box-sizing: border-box;
    border-radius: 20px;
    width: 225px;
}
.filter-select{
    border:0px;
   outline:0px;
}
