.info-header{
    .label{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 129% */

        display: flex;
        align-items: center;

        color: rgba(0, 0, 0, 0.7);
    }
    .header-text{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 129% */

        display: flex;
        align-items: center;

        color: #50555C;
    }
}