.float-button{
	position:fixed;
	width:40px;
	height:40px;
	bottom:100px;
	right:70px;
	background-color:#001167;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float-icon{
	margin-top:7px;
    color:#FFF;
}