.or-component{
    margin-top: 30px;
    color: #90A0B7;
    h2 {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #90A0B7; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 0.05em;
     } 
     
     h2 span { 
        background:#fff; 
        padding:0 10px; 
     }
}
