.yellow{
    border: none !important;
    box-sizing: border-box;
    background: linear-gradient(0deg, #F3B711, #F3B711);
    border-radius: 10px;    
}
.green{
    border: none !important;
    box-sizing: border-box;
    background: linear-gradient(0deg, #157E04, #157E04);
    border-radius: 10px;
    color: white;
}
.blue{
    border: none !important;
    box-sizing: border-box;
    background: linear-gradient(0deg, #2A599E, #2A599E);
    border-radius: 10px; 
    color: white;   
}