.pin-input-wrapper{
    .pin-input{
        background: #FFFFFF !important;
        border: 1px solid #C4C4C4 !important;
        box-sizing: border-box !important;
        border-radius: 12px !important;
        font-size:x-large !important;
        width: 60px;
        height: 70px;
    }
}
