#drop {
    /* width: 600px; */
    height: 200px;
    padding: 15px;
    border-radius: 10px;
    border-width: 1px;
    color: #366ed5;
    background: #FFFFFF;
    border: 1px dashed rgba(137, 138, 141, 0.77);
    box-sizing: border-box;
    border-radius: 12px;
}


@-webkit-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    30% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@-moz-keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes slide-in {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
        transform: translateY(40px);
    }

    30% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translate(-50%, -50%);
    }
    100%{
         opacity: 1;
         -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
    }
}


.dropzone,
.dropzone * {
    box-sizing: border-box;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
    padding: 20px 20px;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-clickable * {
    cursor: default;
}

.file-input {
    display: none;
}

.dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 115px;
    height: 115px;
    position: relative;
    display: block;
    z-index: 10;
}
/* .img-div > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: relative;
} */
.img-div{
      position: relative;
}
.cancel-button{
     top: 50%;
     left: 50%;
     width:60px;
     height: 60px;
     z-index: 1000;
     position: absolute;
     transform: translate(-50%, -50%);
     animation: slide-in 1.3s;
    
}